services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user_feca
      POSTGRES_PASSWORD: password_feca
      POSTGRES_DB: fecastore_db
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    ports:
      - "5432:5432"
    volumes:
      - ./scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./postgres_data:/var/lib/postgresql/data
    # --- AÑADE ESTO PARA QUE DOCKER SEPA SI LA DB ESTÁ LISTA ---
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user_feca -d fecastore_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://user_feca:password_feca@db:5432/fecastore_db
    # --- MODIFICA ESTO ---
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
      - /app/node_modules